@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');

:root {
    --font-1: 'Arimo', sans-serif;

    --color-white-100: rgba(255, 255, 255, 1);

    --color-grey-100: rgba(128, 128, 128, 1);

    --color-blue-100: rgba(27, 255, 212, 1);
}

/*
* ! removing default styles of browser
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
* ! style rules for text color
*/

.text-white {
    color: var(--color-white-100);
}

.text-grey {
    color: var(--color-grey-100);
}

.text-blue {
    color: var(--color-blue-100);
}

/*  
* ! style rules for common classes
*/

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

body {
    background-color: black;
    font-size: 16px;
}

h1, h2, h3, p, a {
    font-family: var(--font-1);
    font-weight: 600;
}

h1 {
 font-size: 3.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.4rem;
    padding-bottom: 30px;
}


.sectionOne, .sectionTwo, .sectionThree {
 padding-top: 50px;
}

.sectionOne video, .sectionTwo img, .sectionThree img {
    align-self: center;
    justify-self: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}
/*  
* ! style rules for footer
*/

footer {
    padding-top: 3rem;
}

/**
!Style rules for media queries
**/
